/*----- RESET THE DEFAULT VALUE FOR EVERY ELEMENT -----*/
* {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  color: rgb(74 49 41);
}

/*----- BODY'S DEFAULT VALUE -----*/
body {
  padding: 0 6% 2% 6%;
  background-color: rgb(244 241 235);
}

.empty-cart-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-top: 10rem;
  margin-bottom: 10rem;
}

.empty-cart-title {
  font-family: 'DM Serif Display', sans-serif;
}

.empty-cart-description-text {
  margin-top: 0.6rem;
}

.empty-shop-link {
  margin-top: 0.6rem;
}

/*----- TABLET AND UP -----*/
@media (min-width: 768px) {}

/*----- DESKTOP -----*/
@media (min-width: 1024px) {

  /*----- BODY'S DEFAULT VALUE -----*/
  body {
    padding: 0 13.5% 0.6% 13.5%;
  }
}