/*----- RESET THE DEFAULT VALUE FOR EVERY ELEMENT -----*/
* {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  color: rgb(74 49 41);
}

/*----- BODY'S DEFAULT VALUE -----*/
body {
  padding: 0 6% 2% 6%;
  background-color: rgb(244 241 235);
}

.cart-title-container {
  margin-top: 3rem;
  width: 10rem;
}

.cart-title {
  font-family: 'DM Serif Display', sans-serif;
}

.cart-quantity-text {
  margin-top: 1rem;
}

.cart-container {
  height: 20rem;
  padding: 1.5rem;
}

/*----- TABLET AND UP -----*/
@media (min-width: 768px) {}

/*----- DESKTOP -----*/
@media (min-width: 1024px) {

  /*----- BODY'S DEFAULT VALUE -----*/
  body {
    padding: 0 13.5% 0.6% 13.5%;
  }
}