/*----- RESET THE DEFAULT VALUE FOR EVERY ELEMENT -----*/
* {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  color: rgb(74 49 41);
}

/*----- BODY'S DEFAULT VALUE -----*/
body {
  padding: 0 6% 2% 6%;
  background-color: rgb(244 241 235);
}

/*----- EMPTY BAG STYLES -----*/
.empty-cart-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-bottom: 10rem;
}

.empty-cart-title {
  font-family: 'DM Serif Display', sans-serif;
  margin-top: 10rem;
}

.empty-cart-description-text {
  margin-top: 0.6rem;
}

.empty-shop-link {
  margin-top: 0.6rem;
}

/*----- BAG WITH PRODUCT/S STYLES -----*/
.product-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  margin-top: 1.5rem;
}

.shopping-bag-title {
  margin-top: 4rem;
  text-align: center;
}

.row-1-product-container {
  flex-direction: column;
}

.product-image-container {
  width: 16rem;
  margin-right: 0.8rem;
}

.product-image {
  width: 100%;
}

.product-name {
  margin-top: 0.3rem;
  font-family: 'DM Serif Display', sans-serif;
}

.size-text {
  margin-top: 3rem;
  text-align: center;
}

.button-container {
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
}

.add-button,
.subtract-button {
  font-size: 1.3rem;
  height: 1.6rem;
  width: 1.6rem;
  border: solid;
  border-width: 1px;
}

.quantity-text {
  text-align: center;
  border: solid;
  border-width: 0;
  margin: 0.3rem 0;
  text-align: center;
}





/*----- TABLET AND UP -----*/
@media (min-width: 768px) {}

/*----- DESKTOP -----*/
@media (min-width: 1024px) {

  /*----- BODY'S DEFAULT VALUE -----*/
  body {
    padding: 0 13.5% 0.6% 13.5%;
  }
}