/*----- FOOTER -----*/
footer {
  margin-top: 4rem;
  background-color: rgb(74 49 41);
}

.sections {
  margin: 0 6%;
}

.shop-section-footer,
.brand-section-footer,
.socials-section-footer {
  color: white;
  padding: 3rem 0 2rem 0;
}

.shop-section,
.brand-section,
.socials-section {
  color: white;
  padding-bottom: 1.5rem;
}

.logo-footer {
  margin-top: 1rem;
  font-family: 'DM Serif Display', sans-serif;
  font-size: 1.2rem;
  color: white;
  border-top: solid;
  border-top-width: 1px;
  border-top-color: white;
  padding: 4% 6%;
}

/* tablet and up*/
@media (min-width: 768px) {}

/* desktop */
@media (min-width: 1024px) {
  footer {
    padding: 0 0;
    display: flex;
    flex-direction: column;
  }

  .sections {
    display: flex;
    flex-direction: row;
    justify-content:space-evenly;
  }

  .logo-footer {
    padding: 1rem 2.8rem;
  }
}