header {
  position: sticky;
  top: 2%;
  background: rgb(244 241 235);

  display: flex;
  justify-content: center;
}

.nav-left,
.nav-inner,
.nav-right {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem 0.6rem;
  width: 100%;
  border: solid;
  border-width: 1px 1px 1px 0;
}

.nav-left {
  border-left-width: 1px;
}

.logo-link-header {
  font-family: 'DM Serif Display', sans-serif;
  font-size: 1.4rem;
  text-decoration: none;
}

.shop-link-header {
  font-size: 1rem;
  font-weight: 600;
  text-decoration: none;
}

.cart-link-header,
.account-link-header {
  object-fit: cover;
  object-position: center;
  height: 1.7rem;
  width: 1.7rem;
}

/*----- TABLET & UP -----*/
@media (min-width: 768px) {}