/*----- RESET THE DEFAULT VALUE FOR EVERY ELEMENT -----*/
* {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  color: #111827;
}

/*----- BODY'S DEFAULT VALUE -----*/
body {
  padding: 0 6% 2% 6%;
  background-color: white;
}

.clothes-header {
  margin-top: 3.3rem;
  margin-bottom: 0.4rem;
  font-family: 'DM Serif Display', sans-serif;
}

.clothes-sub-header {
  margin-bottom: 2.5rem;
}

.total-products {
  margin-bottom: 1.8rem;
  font-size: 1.2rem;
}

.select-clothes-button {
  border: solid;
  border-width: 1px;
  font-size: 1.2rem;
  padding: 0.8rem 1rem;
  margin-right: 0.3rem;
  margin-bottom: 0.7rem;
  background-color: rgb(227 219 207);
  cursor: pointer;
}

.product-container-link {
  text-decoration: none;
}

.product-container {
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
  margin-bottom: 1rem;
  background-color: rgb(227 219 207);
  cursor: pointer;
}

.product-image-container {
  display: flex;
  justify-content: center;
  margin: 5%;
}

.product-image {
  object-fit: cover;
  object-position: center;
  width: 100%;
}

.product-name {
  background-color: rgb(227 219 207);
  font-size: 1.2rem;
  margin-bottom: 1rem;
  margin: 0 5% 2% 5%;
}

.product-price {
  background-color: rgb(227 219 207);
  font-weight: 600;
  font-size: 1.2rem;
  margin: 0 5% 5% 5%;
}

/*----- DESKTOP -----*/
@media (min-width: 1024px) {

  /*----- BODY'S DEFAULT VALUE -----*/
  body {
    padding: 0 13.5%;
  }

  /*----- PRODUCT SECTION -----*/
  .product-section-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    place-items: center;
    gap: 0.8rem;
  }
}