/* make all of the elements with these style */
* {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
}

/* header */
header {
  /* to make it stick to the top */
  position: sticky;
  top: 0;
  background-color: white;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 4rem;
  border-bottom: solid;
  border-bottom-width: 1px;
  border-bottom-color: gray;
}

.logo-link-header {
  font-size: 1.2rem;
  font-weight: 900;
  text-decoration: none;
  color: black;
}

.shop-link-header {
  font-size: 1rem;
  text-decoration: none;
  color: black;
}

.cart-link-header,
.profile-link-header {
  height: 1.2rem;
  width: 1.2rem;
  object-fit: cover;
  object-position: center;
}

/* main */
.home-tagline-n-background-image {
  position: relative;
}

.home-background-image {
  display: block;
  width: 100%;
  height: auto;
}

.home-tagline {
  position: absolute;
  color: white;
  font-weight: 800;
  font-size: 1.5rem;

  /* to make this center inside a container*/
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;

  /* to make the text on top of image surely */
  z-index: 1;
}

/* footer */
footer {
  display: flex;
  justify-content: space-around;
  background-color: rgb(17, 17, 17);
  color: white;
  font-size: 0.7rem;
  padding: 1rem 0;
}

section {
  display: flex;
  flex-direction: column;
  text-decoration: none;
}

.logo-footer,
.quick-links-text-footer,
.follow-us-text-footer {
  margin-bottom: 0.4rem;
}

.quick-links-footer,
.follow-us-link-footer {
  text-decoration: none;
  color: rgb(173, 173, 173);
}

/* tablet and up*/
@media (min-width: 768px) {
  /* header */
  header {
    height: 5rem;
  }

  .logo-link-header {
    font-size: 1.8rem;
  }

  .shop-link-header {
    font-size: 1.6rem;
  }

  .cart-link-header,
  .profile-link-header {
    height: 1.8rem;
    width: 1.8rem;
  }

  /* main */
  .home-tagline {
    font-size: 2.8rem;
  }

  /* footer */
  footer {
    font-size: 1.2rem;
  }
}

/* desktop */
@media (min-width: 1024px) {
  /* main */
  .home-tagline {
    font-size: 4.5rem;
  }

  /* footer */
  footer {
    padding: 2rem 0;
  }

  .logo-footer {
    font-size: 2.8rem;
  }
}